html,body {
	margin: 0;
}

#term {
	padding: 8px;
	color: white;
	background-color: black;
	font: 11pt Courier;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	white-space: pre-wrap;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	padding-bottom: 32px;
}