{% extends "base.html" %}
{% block title %}Казино{% endblock %}
{% block content %}
{% if session %}
<a href="/casino/{{ group.id }}/play"><b>продолжить игру</b></a><br />
{% endif %}
{% if user.is_staff %}
<a href="/casino/{{ group.id }}/standings"><b>текущие результаты</b></a><br />
{% endif %}
<a href="/media/casino_{{ group.id }}.html">Предыдущие результаты</a>
<h2>Правила</h2>
<textarea readonly cols="80" rows="20">
Это регулярное мероприятие, в котором можно использовать свои mad skillz
по программированию, чтобы зарабатывать большие деньги.

Казино состоит из нескольких этапов:
    - Для входа в казино нужно поставить ставку
    - Затем, вам даётся 60 секунд прочитать условие
    - Затем, необходимо сделать ставку по времени
      (за сколько вы собираетесь решить эту задачу)
    - Затем, решаете задачу. Количество попыток не влияет.

Выигрыши раздаются в конце дня в зависимости от многих параметров:
игроки сортируются, сначала те, кто успел решить задачу, по возрастанию
ставки по времени, потом те, кто сдал, но не успел, по возрастанию времени
успешной посылки, потом те, кто не сдал задачу. Затем, их банки распределяются
между ними так, чтобы никто не выиграл у никого другого больше своей ставки,
приоритет отдаётся тем, кто выше в сортированном списке.
</textarea>
{% if not session %}
<h2>Начать игру</h2>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="start" />
    Ваша ставка: <input type="number" name="bet" min="0" max="{{ user.bonuses }}" value="0" /><br />
    <small>Вы можете выиграть не больше своей ставки у каждого противника</small><br />
    <noscript>Для комфортной игры необходим Javascript<br /></noscript>
    <button type="submit">
        <b>Начать!</b>
    </button>
</form>
{% endif %}
{% endblock %}
